.show-print {
  display: none;
}

@media print {
  .show-print {
    position: relative;
    display: flex;
    page-break-before: always;
    align-items: center;
    justify-content: center;
  }

  .genterated-text {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8em;
    color: grey;
  }
}
